# Enable Java 21 language features
common --java_language_version=21 --java_runtime_version=21
common --tool_java_language_version=21 --tool_java_runtime_version=21

## Bazel Registries
common --registry=https://raw.githubusercontent.com/tingyanshen-dcp/bazel-contrib/refs/heads/registries/dcp
common --registry=https://raw.githubusercontent.com/tingyanshen-dcp/bazel-contrib/refs/heads/registries/central

# User-specific .bazelrc
try-import %workspace%/user.bazelrc